
body{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr;
}



header, footer{
    background-color: #192841;
    color: white;
    padding: 15px;
    text-align: center;
}

h3{
    background-color: #48494B;
    color: white;
    padding: 10px;
}

section{
    background-color: gainsboro;
    padding: 10px;
}

.target_pic, .heb_pic, .tacobell_pic{
    width: auto;
}



