
body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}
header{
    display: block;
    align-items: center;
}

.else{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: darkblue;
    color: white;
    padding-top: 10px;
}

aside{
    text-align: center;
    background-color: darkblue;
    color: white;
    padding: 10px;
}

.logo{
    padding-left: 10px;
    width: 100px;
}

.sitename{
    font-size: 10px;
    padding-left: 5px;
}

.navigation{
    text-align: center;
    padding: .5rem;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation li:first-child{
    display: block;
}

.navigation li:first-child a:hover{
    background-color: navy;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
    padding: .5rem;
    background-color: white;
}

.responsive li a:hover{
    background-color: gray;
    color: white;
}

h1, h2, h3{
    font-family: 'Libre Bodoni', serif;
}
.social{
    width: 25px;
}

.socialDisplay{
    gap: .5rem;
}

.hero, .event, .news, .spotlight, .join{
    background-color: lightgray;
    height: 150px;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid black;
}

.cityhall{
    width: 100%;
    height: 100%;
}

.spotlight1, .spotlight2, .spotlight3{
    border: 1px solid lightslategray;
    padding: .5rem;
}

.spotlight3{
    display: none;
}

.join{
    display: none;
}

footer{
    background-color: darkblue;
    color: white;
    text-align: center;
}

.location{
    margin-right: 50px;
    margin-left: none;
}

.map a{
    text-decoration: none;
    color: white;
}

.map a:hover{
    background-color: navy;
    text-decoration: underline;
}

.contact{
    line-height: .5rem;
}

.copyright{
    border-top: 1px solid white;
}


/* Discovery Page*/

.heart, .train, .city, .star, .historical{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.train, .city, .star, .historical{
    padding-top: 35px;
}
.demographics{
    padding-top: 30px;
}

#source{
    font-size: 13px;
    font-style: italic;
}
#number{
    font-weight: bold;
    color: red;
}

/* Form Styling */

form{
    border: 1px gray solid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(216, 234, 247);
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
}

form legend{
    color: darkred;
    font-size: 25px;
}

form fieldset{
    border: none;
    margin: 1rem;
    margin-bottom: 2.5rem;
}

.required{
    color: red;
}

.requiredmsg{
    font-style: italic;
    font-size: 15px;
    line-height: 10px;
    padding-bottom: .75rem;
}

form label.top, form label.level{
    display: block;
    padding-top: 1rem;
}

form label.top input{
    display: block;
    font-size: 16px;
    border: 1px gray solid;
    padding: .75rem;
    color: #555;
    width: 100%;
}

form textarea{
    display: block;
    width: 100%;
    height: 200px;
    padding: 1rem;
}

.submitBtn{
    padding: 1rem;
    font-size: 16px;
    border-radius: 7px;
    border: gray solid 1px;
    width: 100%;
}

.bronze{
    color: chocolate;
    font-weight: bold;
}

.silver{
    color: darkslategray;
    font-weight: bold;
}

.gold{
    color: rgb(155, 117, 20);
    font-weight: bold;
}

.nonprofit{
    color: darkblue;
    font-weight: bold;
}

.joinh1{
    text-align: center;
    line-height: 2rem;
}

.thankyou{
    margin-top: 100px;
    text-align: center;
    border: 1px gray solid;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgb(216, 234, 247);
    font-size: 17px;
    margin-bottom: 20px
}

.return a{
    text-decoration: none;
    color: white;
}

.return{
    padding: 1rem;
    font-size: 14px;
    border-radius: 7px;
    border: gray solid 1px;
    background-color: darkslateblue;
}

.memberinfo{
    display: none;
}

/* Directory Page */

#grid, #list{
    padding: .5rem;
    font-size: 15px;
}

button:active{
    background-color: #555;
    color: white;
}

.menu{
    text-align: center;
    margin-bottom: .5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	align-items: center;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: flex;
	align-items: center;
}

.grid section {
	flex-direction: column;
	text-align: center;
    padding: 1rem;
    box-shadow: 2px 2px 5px black;
    line-height: .75rem;
    margin-bottom: 1rem;
}

.grid section img{
    width: 200px;
}

.grid section h3{
    display: none;
}

.list section {
    display: block;
    line-height: .5rem;
	justify-content: left;
    margin-bottom: 2rem;
}

.list section:nth-child(odd){
    background-color:  rgb(216, 234, 247);
    padding: 1rem;
}

.list section:nth-child(even){
    padding-left: 1rem;
}

.list section img {
	display: none;
}

@media (min-width: 700px) {
	.list section img {
		display: block;
	}
}

/*Formatting Weather Output*/

figcaption{
    text-transform: capitalize;
    text-align: left;
    line-height: 5px;
}

.weather{
    background-color: aquamarine;
    height: auto;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid black;
    padding: 5px;
}

.temp{
    display: flex;
}

.ct{
    font-size: 35px;
    display: flex;
    flex-direction: row;
}

#weather-icon{
    width: 85px;
}