
body{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
}
header{
    display: block;
    align-items: center;
}

.else{
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: red;
    color: white;
}

aside{
    text-align: center;
    background-color: darkred;
    color: white;
}

img{
    width: 100px;
}

.sitename{
    font-size: 10px;
    line-height: 1rem;
    padding-left: 5px;
}

.navigation{
    text-align: center;
    padding: .5rem;
}
.navigation a{
    text-decoration: none;
    color: black;
}
.navigation li:first-child{
    display: block;
}

.navigation li:first-child a:hover{
    background-color: darkred;
}

.navigation li{
    display: none;
}

.responsive li{
    display: block;
    padding: .5rem;
    background-color: white;
}

.responsive li a:hover{
    background-color: gray;
    color: white;
}

h1, h2{
    font-family: 'Libre Bodoni', serif;
}
.social{
    width: 25px;
}

.socialDisplay{
    gap: .5rem;
}

.hero, .event, .weather, .news, .spotlight, .join{
    background-color: lightgray;
    height: 150px;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: 1px solid black;
}

.spotlight1, .spotlight2, .spotlight3{
    border: 1px solid lightslategray;
    padding: .5rem;
}

.spotlight3{
    display: none;
}

.join{
    display: none;
}

footer{
    background-color: red;
    color: white;
    text-align: center;
}

.location{
    margin-top: 1rem;
    line-height: .5rem;
}

.map a{
    text-decoration: none;
    color: white;
}

.map a:hover{
    background-color: darkred;
    text-decoration: underline;
}

.contact{
    line-height: .5rem;
}

.copyright{
    border-top: 1px solid white;
}