@media only screen and (min-width: 60em){

    main{
        display: block;
    }

    .socialDisplay{
        order: +1;
        margin-left: 25px;
    }
    
    .navigation{
        display: flex;
        margin-left: 100px;
    }
    .navigation li{
        display: block;
        margin-left: 1rem;
        margin-right: 1rem;
        font-family: 'Libre Bodoni', serif;
        font-size: 25px;
        padding: .5rem;
    }

    .navigation a{
        color: white;
    }

    .navigation a:hover{
        background-color: darkslateblue;
    }

    .navigation li:first-child{
        display: none;
    }

    .responsive li{
        display: none;
    }

    aside{
        padding: 5px;
    }

    .discover{
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    .star, .city, .train, .historical{
        margin-top: 50px;
    }

    .demographics{
        padding: 20px;
    }

    /* Join Page Editing */

    form{
        width: 600px;
    }

    .memberinfo{
        display: block;
        padding-left: 30px;
        font-size: 18px;
        line-height: 2rem;
    }

    .npinfo{
        background-color: lightblue;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px;
        border: solid darkblue 1px;
        border-radius: 10px;
    }

    .binfo{
        background-color: rgb(247, 165, 108);
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px;
        border: solid rgb(100, 44, 4) 1px;
        border-radius: 10px;
    }

    .sinfo{
        background-color: lightgray;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px;
        border: solid rgb(33, 54, 54) 1px;
        border-radius: 10px;
    }

    .ginfo{
        background-color: gold;
        padding-left: 8px;
        padding-right: 8px;
        margin-top: 20px;
        border: solid darkgoldenrod 1px;
        border-radius: 10px;
    }

    .joininfo{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    /* Directory */

    body{
        max-width: none;
    }
    
    
}