@media only screen and (min-width: 32.5em){

    .sitename{
        font-size: 20px;
    }

    .social{
        width: 50px;
    }

    footer{
        padding-bottom: 5px;
    }

    body{
        line-height: 1.5em;
    }

    .historical, .train, .city, .star{
        margin-top: 50px;
    }

    .heart:hover, .historical:hover, .train:hover, .city:hover, .star:hover{
        box-shadow: 10px 10px 10px 10px lightblue;
    }

    /* Form detailing */
    form label.top input{
        width: 75%;
    }

    form textarea{
        width: 85%;
    }
    .submitBtn{
        width: auto;
    }

    .joinh1{
        line-height: 3rem;
    }

    /*Directory Page*/

    .list section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        line-height: 1.5rem;
        align-items: center;
    }
    
    .list section p{
        text-align: center;
    }
    /*Contact Page*/

    .form2 .submitBtn{
        width: auto;
    }

    .social1{
        width: 60px;
    }
}